{% trans_default_domain 'FOSUserBundle' %}

<h2>New User Form</h2>

<form action="{{ path('fos_user_registration_register') }}"  method="POST">
	<div class="" id="fos_user_registration_form">
		<div class="form-group">
			{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
			{{ form_errors(form.email) }}
		</div>

		<div class="form-group">
			{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
			{{ form_errors(form.username) }}
		</div>

		<div class="form-group">
			{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
			{{ form_errors(form.plainPassword.first) }}
		</div>

		<div class="form-group">
			{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
			{{ form_errors(form.plainPassword.second) }}
		</div>

		{{ form_rest(form) }}

	</div>
	<div class="form-group">
		<input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}">
	</div>
	</form>
