{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <p><h2 class="page-header">Create New Ad</h2></p>
                {{form_start(form)}}
                {{form_widget(form)}}
                {{form_end(form)}}
            </div>
        </div>

    </div>
</div>
{% endblock %}


