{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div id="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="alert alert-warning" role="alert">
                    <strong>{{ flash_message }}</strong>
                </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('ok') %}
                <div class="alert alert-success" role="alert">
                    <strong>{{ flash_message }}</strong>
                </div>
                {% endfor %}
                <p><h2 class="page-header mb-3">Advertisements</h2></p>
                {% for ad in ads %}
                <div class="card mb-3" style="background-color: #e3f2fd;">
                    <div class="card-block">
                        <h4 class="card-title">{{ad.title}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{ad.createdAt|date('Y-m-d H:i:s')}}</h6>
                        <p class="card-text">{{ad.description}}</p>
                        <div class="text-right">Created By {{ad.user}}</div>            
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
