{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h4>Login</h4>
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="form-group">
        <input type="text" id="username" class="form-control" name="_username" placeholder="User Name" value="{{ last_username }}" required="required" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" name="_password" placeholder="Password" required="required" />
    </div>
    <div class="form-group">
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </div>
</form>
